$primary-100: #f2dadc;
$primary-200: #fbbec4;
$primary-300: #f87986;
$primary-400: #e03a4a;
$primary-500: #e30e24;
$primary-600: #b00315;
$primary-700: #7c131e;
$primary-800: #4a1218;
$primary-900: #330308;

$success-100: #e6f7eb;
$success-200: #c1f9d4;
$success-300: #80f4a7;
$success-400: #48ec80;
$success-500: #16d958;
$success-600: #09a33e;
$success-700: #036a26;
$success-800: #033f17;
$success-900: #013513;

$warning-100: #f7f2e6;
$warning-200: #faeabf;
$warning-300: #f6d681;
$warning-400: #f0c043;
$warning-500: #e3a70e;
$warning-600: #ab7d06;
$warning-700: #775703;
$warning-800: #423003;
$warning-900: #3d2d01;

$error-100: #f4e4e3;
$error-200: #fcc8c4;
$error-300: #fb928c;
$error-400: #d25249;
$error-500: #f52f22;
$error-600: #c11409;
$error-700: #861109;
$error-800: #430602;
$error-900: #330502;

$info-100: #e6eaf7;
$info-200: #c0cff8;
$info-300: #86a5f4;
$info-400: #4f7bef;
$info-500: #1e55e3;
$info-600: #0837b0;
$info-700: #032273;
$info-800: #01123d;
$info-900: #020f33;

$neutral-100: #f7e6e7;
$neutral-200: #d9d1d2;
$neutral-300: #b3a6a7;
$neutral-400: #8f7d7f;
$neutral-500: #6d5456;
$neutral-600: #4a2e31;
$neutral-700: #2c1417;
$neutral-800: #180608;
$neutral-900: #060001;

$transparent-black-100: rgba($neutral-900, 0.1);
$transparent-black-200: rgba($neutral-900, 0.2);
$transparent-black-300: rgba($neutral-900, 0.3);
$transparent-black-400: rgba($neutral-900, 0.4);
$transparent-black-500: rgba($neutral-900, 0.5);
$transparent-black-600: rgba($neutral-900, 0.6);
$transparent-black-700: rgba($neutral-900, 0.7);
$transparent-black-800: rgba($neutral-900, 0.8);
$transparent-black-900: rgba($neutral-900, 0.9);

$header-1: 56.8px;
$header-2: 42.6px;
$header-3: 32px;
$general: 24px;
$body: 18px;

$border-radius: 5px;
