$primary-100: #fbf4e7;
$primary-200: #feedcb;
$primary-300: #fbdda1;
$primary-400: #f4cc7c;
$primary-500: #e5b557;
$primary-600: #cf982f;
$primary-700: #a37213;
$primary-800: #795307;
$primary-900: #3a2700;

$success-100: #eafdea;
$success-200: #c5fbc7;
$success-300: #98f39c;
$success-400: #6fe374;
$success-500: #4dcb52;
$success-600: #2eb433;
$success-700: #1a971f;
$success-800: #0b710f;
$success-900: #024104;

$warning-100: #fbfae0;
$warning-200: #f6f4b8;
$warning-300: #f1ed8f;
$warning-400: #e8e367;
$warning-500: #d5cf46;
$warning-600: #beb828;
$warning-700: #979212;
$warning-800: #6a6605;
$warning-900: #383601;

$error-100: #fbdada;
$error-200: #fbb9b9;
$error-300: #f49494;
$error-400: #e76e6e;
$error-500: #d45151;
$error-600: #b92f2f;
$error-700: #961a1a;
$error-800: #6e0c0c;
$error-900: #470404;

$info-100: #e8eefb;
$info-200: #c1d1fa;
$info-300: #99b2f3;
$info-400: #7192e7;
$info-500: #5176d6;
$info-600: #315ac1;
$info-700: #183ea1;
$info-800: #09287b;
$info-900: #02174d;

$neutral-100: #e6e3da;
$neutral-200: #cdc7bb;
$neutral-300: #ada597;
$neutral-400: #91897a;
$neutral-500: #766f60;
$neutral-600: #544c3a;
$neutral-700: #322a19;
$neutral-800: #1e180a;
$neutral-900: #0e0a02;

$transparent-black-100: rgba(14, 10, 2, 0.1);
$transparent-black-200: rgba(14, 10, 2, 0.2);
$transparent-black-300: rgba(14, 10, 2, 0.3);
$transparent-black-400: rgba(14, 10, 2, 0.4);
$transparent-black-500: rgba(14, 10, 2, 0.5);
$transparent-black-600: rgba(14, 10, 2, 0.6);
$transparent-black-700: rgba(14, 10, 2, 0.7);
$transparent-black-800: rgba(14, 10, 2, 0.8);
$transparent-black-900: rgba(14, 10, 2, 0.9);

$header-1: 56.8px;
$header-2: 42.6px;
$header-3: 32px;
$general: 24px;
$body: 18px;

$border-radius: 5px;