@import "../../css/variables";

.customer-review {
  border: 1.5px solid var(--neutral-white, #fff);
  background: $light-gray;
  max-width: 423px;
  flex-shrink: 0;
  position: relative;

  img {
    width: 44px;
  }

  .review-details-container {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;

    span {
      font-size: $general;
      color: $primary-color;
      margin-left: 10px;
    }
  }

  .rating-number-and-star-container {
    display: flex;
    margin-left: 6px;
    color: $primary-color;

    text {
      margin-bottom: 12px;
    }
  }

  .review-body-container {
    padding-left: 70px;
    padding-right: 70px;
    color: $primary-color;
  }
}
