@import "../../css/variables";

.contact-us {
  background-color: $neutral-900;

  h1.page-title {
    color: $primary-500;
  }
  
  h3.become-a-web-lord {
    color: $neutral-200;
    padding-bottom: 40px;
  }
}
