@import "../../css/variables";

.home-page {
  background-color: $neutral-900;

  section.hero-container {
    height: 40vh;

    @media (max-width: 768px) {
      height: 50vh;
      padding-top: 20px;
    }

    .background-container {
      width: 100%;
      height: 100%;
      background-image: url("../../assets/images/svgs/layered-waves/desktop/layered-waves.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: bottom;
      animation: changeHeroBackground 28s infinite;
      animation-timing-function: ease-in-out;
      position: relative;

      @media (max-width: 768px) {
        height: 50vh;
        background-image: url("../../assets/images/svgs/layered-waves/mobile/layered-waves.svg");
        animation-name: changeHeroBackgroundMobile;
      }
    }

    h1.hero-header {
      color: $neutral-100;
      text-align: center;
    }
  }

  @keyframes changeHeroBackground {
    0% {
      background-image: url("../../assets/images/svgs/layered-waves/desktop/layered-waves.svg");
    }
    14.2857% {
      background-image: url("../../assets/images/svgs/layered-waves/desktop/layered-waves-2.svg");
    }
    28.5714% {
      background-image: url("../../assets/images/svgs/layered-waves/desktop/layered-waves-3.svg");
    }
    42.8571% {
      background-image: url("../../assets/images/svgs/layered-waves/desktop/layered-waves-4.svg");
    }
    57.1429% {
      background-image: url("../../assets/images/svgs/layered-waves/desktop/layered-waves-5.svg");
    }
    71.4286% {
      background-image: url("../../assets/images/svgs/layered-waves/desktop/layered-waves-6.svg");
    }
    85.7143% {
      background-image: url("../../assets/images/svgs/layered-waves/desktop/layered-waves-7.svg");
    }
  }

  @keyframes changeHeroBackgroundMobile {
    0% {
      background-image: url("../../assets/images/svgs/layered-waves/mobile/layered-waves.svg");
    }
    14.2857% {
      background-image: url("../../assets/images/svgs/layered-waves/mobile/layered-waves-2.svg");
    }
    28.5714% {
      background-image: url("../../assets/images/svgs/layered-waves/mobile/layered-waves-3.svg");
    }
    42.8571% {
      background-image: url("../../assets/images/svgs/layered-waves/mobile/layered-waves-4.svg");
    }
    57.1429% {
      background-image: url("../../assets/images/svgs/layered-waves/mobile/layered-waves-5.svg");
    }
    71.4286% {
      background-image: url("../../assets/images/svgs/layered-waves/mobile/layered-waves-6.svg");
    }
    85.7143% {
      background-image: url("../../assets/images/svgs/layered-waves/mobile/layered-waves-7.svg");
    }
  }

  section.business-introduction {
    background-color: $neutral-700;

    p {
      color: $neutral-200;
      @media screen and (min-width: 768px) {
        font-size: $header-3;
      }
    }
  }

  section.available-tiers {
    background-image: url("../../assets/images/svgs/blob-scene/desktop/blob-scene.svg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    animation: changeAvailableTiersBackground 10s infinite;
    animation-timing-function: ease-in-out;

    h1.page-title {
      color: $neutral-200;
    }

    @media (max-width: 768px) {
      background-position-x: center;
      background-image: url("../../assets/images/svgs/blob-scene/mobile/blob-scene.svg");
      animation-name: changeAvailableTiersBackgroundMobile;
    }

    .option-card-wrapper {
      flex-wrap: wrap;
      gap: 20px;
    }

    @keyframes changeAvailableTiersBackground {
      0% {
        background-image: url("../../assets/images/svgs/blob-scene/desktop/blob-scene.svg");
      }
      20% {
        background-image: url("../../assets/images/svgs/blob-scene/desktop/blob-scene-2.svg");
      }
      40% {
        background-image: url("../../assets/images/svgs/blob-scene/desktop/blob-scene-3.svg");
      }
      60% {
        background-image: url("../../assets/images/svgs/blob-scene/desktop/blob-scene-4.svg");
      }
      80% {
        background-image: url("../../assets/images/svgs/blob-scene/desktop/blob-scene-5.svg");
      }
    }

    @keyframes changeAvailableTiersBackgroundMobile {
      0% {
        background-image: url("../../assets/images/svgs/blob-scene/mobile/blob-scene.svg");
      }
      20% {
        background-image: url("../../assets/images/svgs/blob-scene/mobile/blob-scene-2.svg");
      }
      40% {
        background-image: url("../../assets/images/svgs/blob-scene/mobile/blob-scene-3.svg");
      }
      60% {
        background-image: url("../../assets/images/svgs/blob-scene/mobile/blob-scene-4.svg");
      }
      80% {
        background-image: url("../../assets/images/svgs/blob-scene/mobile/blob-scene-5.svg");
      }
    }
  }
}
