@import "../../css/variables";

.home-page {
  background-color: $neutral-900;

  section.hero-container {
    height: 55vh;

    @media (max-width: 768px) {
      padding-top: 20px;
    }

    .background-container {
      width: 100%;
      height: 100%;
      background-image: url("/assets/images/svgs/layered-waves/desktop/layered-waves.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: bottom;
      animation: changeHeroBackground 20s infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      position: relative;

      @media (max-width: 768px) {
        background-image: url("/assets/images/svgs/layered-waves/mobile/layered-waves.svg");
        animation-name: changeHeroBackgroundMobile;
      }
    }

    h1.hero-header {
      color: $neutral-100;
      text-align: center;

      span {
        font-size: $header-1;
        opacity: 0;
        animation: fadeIn 1s ease forwards;
      }

      span:nth-of-type(2) {
        animation-delay: 100ms;
      }

      span:nth-of-type(3) {
        animation-delay: 200ms;
      }

      span:nth-of-type(4) {
        animation-delay: 300ms;
      }

      span:nth-of-type(5) {
        animation-delay: 400ms;
      }

      span:nth-of-type(6) {
        animation-delay: 500ms;
      }

      span:nth-of-type(7) {
        animation-delay: 600ms;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  @keyframes changeHeroBackground {
    0% {
      background-image: url("/assets/images/svgs/layered-waves/desktop/layered-waves.svg");
      background-position-y: 30%;
    }
    14.2857% {
      background-image: url("/assets/images/svgs/layered-waves/desktop/layered-waves-2.svg");
      background-position-y: 40%;
    }
    28.5714% {
      background-image: url("/assets/images/svgs/layered-waves/desktop/layered-waves-3.svg");
      background-position-y: 50%;
    }
    42.8571% {
      background-image: url("/assets/images/svgs/layered-waves/desktop/layered-waves-4.svg");
      background-position-y: 60%;
    }
    57.1429% {
      background-image: url("/assets/images/svgs/layered-waves/desktop/layered-waves-5.svg");
      background-position-y: 70%;
    }
    71.4286% {
      background-image: url("/assets/images/svgs/layered-waves/desktop/layered-waves-6.svg");
      background-position-y: 80%;
    }
    85.7143% {
      background-image: url("/assets/images/svgs/layered-waves/desktop/layered-waves-7.svg");
      background-position-y: 90%;
    }
  }

  @keyframes changeHeroBackgroundMobile {
    0% {
      background-image: url("/assets/images/svgs/layered-waves/mobile/layered-waves.svg");
      background-position-y: 30%;
    }
    14.2857% {
      background-image: url("/assets/images/svgs/layered-waves/mobile/layered-waves-2.svg");
      background-position-y: 40%;
    }
    28.5714% {
      background-image: url("/assets/images/svgs/layered-waves/mobile/layered-waves-3.svg");
      background-position-y: 50%;
    }
    42.8571% {
      background-image: url("/assets/images/svgs/layered-waves/mobile/layered-waves-4.svg");
      background-position-y: 60%;
    }
    57.1429% {
      background-image: url("/assets/images/svgs/layered-waves/mobile/layered-waves-5.svg");
      background-position-y: 70%;
    }
    71.4286% {
      background-image: url("/assets/images/svgs/layered-waves/mobile/layered-waves-6.svg");
      background-position-y: 80%;
    }
    85.7143% {
      background-image: url("/assets/images/svgs/layered-waves/mobile/layered-waves-7.svg");
      background-position-y: 90%;
    }
  }

  section.business-introduction {
    background-color: $neutral-700;

    h1.page-title {
      color: $neutral-100;
    }

    p {
      color: $neutral-200;
      
      @media screen and (max-width: 768px) {
        font-size: $general;
      }

      @media screen and (min-width: 768px) {
        font-size: $header-3;
      }
    }

    div.business-introduction-text-wrapper {
      animation: fadeInAndUp 1s ease forwards;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: contain;
    }

    @keyframes fadeInAndUp {
      0% {
        opacity: 0;
        transform: translateY(150px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  section.available-tiers {
    background-image: url("/assets/images/svgs/blob-scene/desktop/blob-scene.svg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    animation: changeAvailableTiersBackground 10s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

    h1.page-title {
      color: $neutral-100;
    }

    @media (max-width: 768px) {
      background-image: url("/assets/images/svgs/blob-scene/mobile/blob-scene.svg");
      animation-name: changeAvailableTiersBackgroundMobile;
      animation-duration: 20s;
    }

    .option-card-wrapper {
      flex-wrap: wrap;
      gap: 20px;

      div.card {
        opacity: 0;
        animation: fadeInAndUp 1s ease forwards;
        animation-timeline: view();
        animation-range: entry;

        &.image-and-body-card {
          img {
            max-width: 20%;
            height: 52px;
          }

          .card-text-wrapper {
            text-align: center;
          }
        }
      }

      div.card:nth-of-type(2) {
        animation-delay: 0.25s;
      }

      div.card:nth-of-type(3) {
        animation-delay: 0.5s;
      }
    }

    @keyframes changeAvailableTiersBackground {
      0% {
        background-image: url("/assets/images/svgs/blob-scene/desktop/blob-scene.svg");
        background-position-x: 0%;
      }
      20% {
        background-image: url("/assets/images/svgs/blob-scene/desktop/blob-scene-2.svg");
        background-position-x: 20%;
      }
      40% {
        background-image: url("/assets/images/svgs/blob-scene/desktop/blob-scene-3.svg");
        background-position-x: 40%;
      }
      60% {
        background-image: url("/assets/images/svgs/blob-scene/desktop/blob-scene-4.svg");
        background-position-x: 60%;
      }
      80% {
        background-image: url("/assets/images/svgs/blob-scene/desktop/blob-scene-5.svg");
        background-position-x: 80%;
      }
    }

    @keyframes changeAvailableTiersBackgroundMobile {
      0% {
        background-image: url("/assets/images/svgs/blob-scene/mobile/blob-scene.svg");
        background-position-x: 0%;
      }
      20% {
        background-image: url("/assets/images/svgs/blob-scene/mobile/blob-scene-2.svg");
        background-position-x: 20%;
      }
      40% {
        background-image: url("/assets/images/svgs/blob-scene/mobile/blob-scene-3.svg");
        background-position-x: 40%;
      }
      60% {
        background-image: url("/assets/images/svgs/blob-scene/mobile/blob-scene-4.svg");
        background-position-x: 60%;
      }
      80% {
        background-image: url("/assets/images/svgs/blob-scene/mobile/blob-scene-5.svg");
        background-position-x: 80%;
      }
    }
  }
}
