@import "../../css/variables";

.page-not-found {
  .page-not-found-wrapper {
    background-color: $neutral-900;

    .page-not-found-warning {
      padding-top: 160px;
      padding-bottom: 80px;
      color: $primary-500;
    }

    .page-not-found-explanation {
      padding-bottom: 40px;
      color: $neutral-200;
    }

    .button-wrapper {
      padding-bottom: 160px;
    }
  }
}
