@import "../../../css/variables";
@import "../../../css/partials/switch-input";
@import "../../../css/partials/input-themes";

/* 
  ! Need to take a look at responsiveness of the
  ! fields and their icons
*/

/* 
  Base Styling
*/

.icon-input-left {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 25px !important;
  height: 25px !important;
}

.icon-input-right {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 25px !important;
  height: 25px !important;
}

.light-icon {
  color: $primary-color;
}

.dark-icon {
  color: $neutral;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-field {
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 55px;
  transition: 0.2s ease-in-out;
}

.input-field:focus-visible {
  outline: none;
}

.form-label {
  font-size: 24px;
}

.form button:not(.toggle-password-visibility-button) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-error-message {
  color: $error;
  font-weight: bold;
}

/* 
  Select Input
*/

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position-y: 67%;
  background-position-x: 97%;
}

select.light-input {
  background-image: url("../../../assets/icons/Dropdown_Arrow_Blue.svg");
}

select.dark-input {
  background-image: url("../../../assets/icons/Dropdown_Arrow_White.svg");
}

select::-ms-expand {
  display: none;
}

@media (max-width: 576px) {
  select {
    background-size: 4.75%;
  }
}

@media (min-width: 576px) {
  select {
    background-size: 7%;
  }
}

@media (min-width: 768px) {
  select {
    background-size: 5.5%;
  }
}

@media (min-width: 992px) {
  select {
    background-size: 3.75%;
  }
}

@media (min-width: 1200px) {
  select {
    background-size: 3%;
  }
}

/* 
  Date Input
*/

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.toggle-password-visibility-button {
  position: absolute;
  width: 8% !important;
  height: 30% !important;
  top: 62%;
  right: 3%;
  opacity: 0%;
  z-index: 1;
}

/* 
  Country Code and Phone Number Input
*/

div.country-code-input-wrapper {
  button.toggle-country-code-menu {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .phone-number-input {
    padding-left: 30%;
  }

  .country-code-arrow {
    left: 17%;
  }

  .flag-separator {
    left: 25%;
  }
}

@media (min-width: 576px) {
  .phone-number-input {
    padding-left: 34%;
    padding-right: 5%;
  }

  .country-code-arrow {
    left: 21%;
  }

  .flag-separator {
    left: 30%;
  }
}

@media (min-width: 768px) {
  .phone-number-input {
    padding-left: 28%;
  }

  .country-code-arrow {
    left: 17%;
  }

  .flag-separator {
    left: 24%;
  }
}

@media (min-width: 992px) {
  .phone-number-input {
    padding-left: 20%;
  }

  .country-code-arrow {
    left: 13%;
  }

  .flag-separator {
    left: 18%;
  }
}

@media (min-width: 1200px) {
  .phone-number-input {
    padding-left: 20%;
  }

  .country-code-arrow {
    left: 12%;
  }

  .flag-separator {
    left: 17%;
  }
}

@media (min-width: 1400px) {
  .phone-number-input {
    padding-left: 18%;
  }

  .country-code-arrow {
    left: 11%;
  }

  .flag-separator {
    left: 15%;
  }
}

.country-code-input-wrapper {
  position: absolute;
  top: 59%;
  left: 3%;
}

.country-code-input-wrapper,
.country-code-icon {
  width: 40px;
  height: 30px;

  .input-wrapper {
    max-width: 800px;
    min-width: 400px;
    margin-top: 1px !important;

    label.form-label {
      display: none;
    }
  }
}

.country-code-menu-wrapper {
  max-height: 800px;
  max-width: 800px;
  min-width: 400px;
  padding-left: 0px;
  overflow-y: scroll;
  list-style-type: none;
}

.country-code-arrow {
  position: absolute;
  top: 68%;
  z-index: 5;
}

.country-arrow-light {
  color: $primary-color;
}

.country-arrow-dark {
  color: $neutral;
}

.flag-separator {
  width: 1.5px;
  height: 48px;
  position: absolute;
  top: 48%;
  z-index: 5;
  pointer-events: none;
}

.light-separator {
  background-color: $primary-color;
}

.dark-separator {
  background-color: $neutral;
}

.country-code-input-wrapper {
  .toggle-country-code-menu {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.country-code-label {
  font-size: 18px;
}

.country-code-option {
  border-bottom: 1.5px solid;
  display: flex;
  align-items: center;
}

.light-country-code-input {
  .country-code-menu-wrapper {
    background-color: $light-gray;
    border: 1.5px solid $primary-color;
  }
  .country-code-label {
    color: $primary-color;
  }
  .country-code-option {
    border-color: $primary-color;
  }
  .country-code-option:hover {
    background-color: $quarternary-color;

    .country-code-label {
      color: $neutral;
    }
  }
}

.dark-country-code-input {
  .country-code-menu-wrapper {
    background-color: $primary-color;
    border: 1.5px solid $neutral;
  }
  .country-code-label {
    color: $light-gray;
  }
  .country-code-option {
    border-color: $neutral;
  }
  .country-code-option:hover {
    background-color: $neutral;
    .country-code-label {
      color: $primary-color;
    }
  }
}

.form-button-container {
  button:nth-of-type(2) {
    margin-left: 15px;
  }
}
