@import "../../../css/variables";

#loaderElement {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 39px;
}

#loaderElement div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  min-width: 34px;
  min-height: 34px;
  margin: 8px;
  //border: 8px solid $brown;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  //border-color: $brown transparent transparent transparent;
}

#loaderElement div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}

#loaderElement div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

#loaderElement div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-primary {
  &#loaderElement div {
    border: 5px solid $primary-500;
    border-color: $primary-500 transparent transparent transparent;
  }
}

.loader-success {
  &#loaderElement div {
    border: 5px solid $success-500;
    border-color: $success-500 transparent transparent transparent;
  }
}

.loader-warning {
  &#loaderElement div {
    border: 5px solid $warning-500;
    border-color: $warning-500 transparent transparent transparent;
  }
}

.loader-error {
  &#loaderElement div {
    border: 5px solid $error-500;
    border-color: $error-500 transparent transparent transparent;
  }
}

.loader-info {
  &#loaderElement div {
    border: 5px solid $info-500;
    border-color: $info-500 transparent transparent transparent;
  }
}

.loader-neutral {
  &#loaderElement div {
    border: 5px solid $neutral-500;
    border-color: $neutral-500 transparent transparent transparent;
  }
}
